:root {
    --primary-color: #a30303;
    --primary-hover-color: #e30202;
    --secondary-color: #e30202;
    --secondary-hover-color: #a30303;
    --ternary-color: #575757;
    --ternary-hover-color: #363636;
}

.bg-primary{
    background-color: var(--primary-color)!important;
}

.bg-secondary{   
    background-color: var(--secondary-color)!important;
}

.bg-ternary{
    background-color: var(--ternary-color)!important;
}

.bg-whitesmoke{
    background-color: whitesmoke;
}

.text-primary{
    color: var(--primary-color)!important;
}

.text-secondary{   
    color: var(--secondary-color)!important;
}

.text-ternary{
    color: var(--ternary-color)!important;
}

.text-aqua{
    color: aqua !important;
}

.text-aqua:hover{
    color: aquamarine !important;
}

.btn-primary{
    background-color: var(--primary-color)!important;
    color: white;
}

.btn-primary:hover{
    background-color: var(--primary-hover-color)!important;
    color: whitesmoke;
}

.btn-secondary{   
    background-color: var(--secondary-color)!important;
    color: white;
}

.btn-secondary:hover{   
    background-color: var(--secondary-hover-color)!important;
    color: whitesmoke;
}

.btn-ternary{   
    background-color: var(--ternary-color)!important;
    color:  var(--secondary-color)!important;
}

.btn-ternary:hover{   
    background-color: var(--ternary-hover-color)!important;
    color:  var(--secondary-color)!important;
}

.btn-outline-primary{
    background-color: var(--primary-color)!important;
    color: white;
    border: solid 2px var(--secondary-color)!important;
}

.btn-outline-primary:hover{
    background-color: var(--primary-hover-color)!important;
    color: whitesmoke;
    border: solid 2px var(--secondary-hover-color)!important;
}

.btn-outline-secondary{   
    background-color: var(--secondary-color)!important;
    color: white;
    border: solid 2px var(--primary-color)!important;
}

.btn-outline-secondary:hover{   
    background-color: var(--secondary-hover-color)!important;
    color: whitesmoke;
    border: solid 2px var(--primary-hover-color)!important;
}

.input-primary, .input-primary::placeholder{
    background-color: var(--primary-color)!important;
    color: var(--secondary-color)!important;
    border: transparent;
}

.input-secondary, .input-secondary::placeholder{
    background-color: var(--secondary-color)!important;
    color: var(--primary-color)!important;
    border: transparent;
}

.hr-primary{
    border-top: 1px solid var(--primary-color);
}

.hr-secondary{
    border-top: 1px solid var(--secondary-color);
}

.hr-ternary{
    border-top: 1px solid var(--ternary-color);
}

.border-primary{
    border: solid 2px  var(--primary-color)!important;
}

.border-secondary{
    border: solid 2px var(--secondary-color)!important;
}

.border-ternary{
    border: solid 2px  var(--ternary-color-color)!important;
}

.border-top-primary{
    border-top: solid 3px var(--primary-color)!important;
}

.border-top-secondary{
    border-top: solid 3px var(--secondary-color)!important;
}

.border-bottom-primary{
    border-bottom: solid 3px var(--primary-color)!important;
}

.border-bottom-secondary{
    border-bottom: solid 3px var(--secondary-color)!important;
}

.shadow-primary{
    box-shadow: 5px .5rem 1rem  var(--primary-color)!important;
}

.shadow-secondary{
    box-shadow: 5px .5rem 1rem  var(--secondary-color-color)!important;
}

.bg-whats{
    background-color: #25D366 !important;
}

.bg-insta{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
}

.bg-face{
    background-color: #2b4170 !important;
}

.bg-call{
    background-color: #DB9D27 !important;
}